@media screen and (max-width: 1000px) {
    .banner {
        flex-direction: column-reverse;
    }

    .banner_img {
        margin-bottom: 80px;
    }

    .banner_content {
        text-align: center;
        margin: 0;
    }

    .banner_content-bt {
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    .benefits_container>ul {
        flex-direction: column;
    }

    .container {
        margin: 40px auto;
    }

    .benefits_container>ul>li>.content {
        margin-left: 20px;
    }

    .banner_img {
        max-width: 200px;
        margin-bottom: 40px;
    }

    .banner_content-title {
        font-size: 24px;
    }

    .banner_content-strong {
        font-size: 40px;
    }

    .banner_content-text {
        font-size: 16px;
    }

    .main {
        padding: 40px 0;
    }

    .main_comment {
        padding: 40px 0;
    }

    .comment_container>ul {
        flex-direction: column;
    }

    .main_buy {
        padding: 40px 0 40px 0;
    }

    .buy_title {
        font-size: 32px;
    }

    .questions_container>h3 {
        font-size: 30px;
    }

    .footer_container>h3 {
        font-size: 30px;
    }

    .footer_box {
        flex-direction: column;
    }

    .comment_title {
        font-size: 32px;
        padding: 30px 0;
    }

    .comment_container {
        padding: 0 20px;
    }

    .content_title {
        margin: 0 auto 40px;
        font-size: 18px;
        padding: 15px 20px;

    }

    .main .content {
        padding: 0 20px;
    }

    .footer_container {
        padding: 0 20px;
    }

    .content_text {
        margin: 0 auto 40px;
        font-size: 18px;
    }

    .footer_box>img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .box_content>h3 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .box_link {
        margin-left: 0px;
        margin-top: 15px;
    }

    .footer {
        padding: 40px 0;
    }

    .content_box_title {
        font-size: 30px;
        padding: 32px 0;
    }

    .li_content-title {
        font-size: 18px;
    }

    .content_box_li {
        padding: 20px;
    }

    .benefits_container {
        padding: 0 20px;
    }

    .li_content-text {
        font-size: 16px;
    }

    .main_benefits {
        padding: 40px 0;
    }

    .benefits_title {
        padding: 20px 0;
        font-size: 30px;
    }

    .benefits_container>ul>li>.content>.title {
        font-size: 18px;
    }

    .benefits_container>ul>li>.content>.text {
        font-size: 14px;
    }

    .text_circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        font-size: 14px;
    }

    .benefits_container>ul>li>.img>img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 390px) {
    .header {
        height: auto;
        padding: 10px 15px;

    }

    .header_text {
        color: #fff;
        line-height: 26px;
    }
}