* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #e6f4f1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    height: 50px;
    padding: 14px;
    background-color: #202d4e;
}

header p {
    font-size: 16px;
    text-align: center;
    color: white;
    font-weight: 700;
}

header p a {
    color: #ede7a9;
    text-decoration: none;
}

.banner {
    padding: 80px 0;
    background-image: url('./images/pattern.png');
    background-position: center;
    background-repeat: repeat-x;
}

.wallpaper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.content_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_content {
    max-width: 615px;
    margin-right: 50px;
}

.banner_content h3 {
    font-size: 38px;
    color: #3c5083;
    font-weight: 500;
}

.banner_content h2 {
    margin: 10px 0;
    font-size: 64px;
    color: #4166d2;
    font-weight: 800;
}

.banner_content p {
    font-size: 20px;
    color: #3c5083;
    margin: 20px 0;
}

.banner_content .bt {
    width: 200px;
    height: 60px;
    display: block;
    text-align: center;
    background-color: #3864d9;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-weight: 700;
}

.banner_content .question {
    font-size: 18px;
}

.banner_content .question a {
    font-weight: 700;
    color: black;
}

.banner_image {}

.banner_image img {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
}

.content {
    padding: 80px 0;
    background-color: #3864d9;
}

.content_top {
    max-width: 690px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

.content_mid {
    max-width: 690px;
    margin: 80px auto;
    color: white;
    font-size: 20px;
    text-align: center;
}

.content_bot {
    max-width: 940px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

.content_bot>h3 {
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    color: #3864d9;
    padding: 40px;
}

.content_bot>ul>li {
    display: flex;
    padding: 30px;
}

.li_bg {
    background-color: #f0f8f7;
}

.content_bot>ul>li .circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    text-align: center;
    line-height: 64px;
    background-color: aquamarine;
    margin-right: 30px;
}

.li_content>h3 {
    font-size: 22px;
    margin-bottom: 12px;
}

.li_content>p {
    font-size: 20px;
}

.skill {
    padding: 80px 0;
    background-color: #202d4e;
}

.skill_box {
    max-width: 1040px;
    margin: 0 auto;
}

.skill_box>h3 {
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    color: white;
    margin: 40px 0 80px 0;
}

.skill_box>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill_box>ul>li {
    width: calc(50% - 30px);
    display: flex;
    color: white;
    margin-bottom: 30px;
}

.skill_box>ul>li .logo {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.comment {
    padding: 80px 0;
}

.comment_box {
    max-width: 980px;
    margin: 0 auto;
}

.comment_box>h3 {
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    color: #3864d9;
    margin: 40px 0 80px 0;
}

.comment_box>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment_box>ul>li {
    width: calc(50% - 25px);
    margin-bottom: 30px;
}

.comment_li_header {
    display: flex;
    align-items: center;
}

.comment_li_header>.logo {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 4px white solid;
    margin-right: 15px;
}

.comment_box>ul>li>p {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
}

.buy {
    padding: 50px 0;
    background-color: #202d4e;
}

.buy_box {
    max-width: 500px;
    margin: 0 auto;
}

.buy_box>h3 {
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    color: white;
    margin: 30px 0 30px 0;
}

.box {
    max-width: 380px;
    padding: 15px;
    background: #e6f4f1;
    margin: 0 auto;
    border-radius: 5px;

}

.box>img {
    width: 100px;
    display: block;
    margin: 0 auto 8px;
}

.box>p {
    text-align: center;
    margin-bottom: 15px;
}

.box>p>s {
    font-size: 24px;
}

.box>p>span {
    font-size: 32px;
    font-weight: 700;
    color: #3864d9;
}

.strong {
    font-weight: 700;
}

.button {
    min-width: 180px;
    background-color: #3864d9;
    padding: 18px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.buy_box>p {
    text-align: center;
    color: white;
    margin-top: 30px;
}

.feedback {
    padding: 80px 0;
}

.feedback_box>h3 {
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    color: #3864d9;
    margin-bottom: 30px;
}

.feedback_box>p {
    text-align: center;
}

footer {
    padding: 80px 0;
}

.footer_box {
    max-width: 980px;
    margin: 0 auto;
}

.footer_box>h3 {
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    color: #3864d9;
    margin-bottom: 40px;
}

.contact {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.contact>img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
.contact .contact_content{
    margin: 0 15px;
}
.contact .contact_content h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.contact .contact_content p{
    font-size: 18px;
}
.contact>.contact_link {
    flex-basis: 1000px;
    padding: 15px;
    background-color:#dfedeb;
}
.contact>.contact_link > h3{
    margin-bottom: 10px;   
}
.contact>.contact_link > ul > li{
    margin-bottom: 10px;   
}